<form action="/nodeim-server/AllSend:submit" method="post" class="stay" stay-target=".childview .ocview" onsubmit="return false">
    <fieldset>
     <div class="control-group">

          <!-- Textarea -->
          <label class="control-label"></label>
          <div class="controls">
            <div class="textarea">
                  <textarea name="text" style="width:99%;height:270px"></textarea>
            </div>
          </div>
        </div>

    <div class="control-group">

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">群发</button>
          </div>
        </div>
    </fieldset>
</form>
